.center {
    justify-content: center;
    
}
.navbar-right {
    float: right;
}

.navbar-background {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.cart-radius {
    border-radius:10px;

}